[Unit]
Description=Blazor Portfolio Application
After=network.target

[Service]
Type=notify
# 应用路径
WorkingDirectory=/var/www/BlazorPortfolio
ExecStart=/var/www/BlazorPortfolio/BlazorPortfolio
# 环境变量
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false
# 运行用户
User=www-data
Group=www-data
# 重启策略
Restart=always
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=blazorportfolio
# 日志
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
